DATABASE_URL="postgresql://user:password@host/db_name?sslmode=require&channel_binding=require"
JWT_SECRET="your-jwt-secret-here"
BREVO_API_KEY="your-brevo-api-key-here"
WEB_URL="http://localhost:3000"
FRONTEND_URL="http://localhost:3000"
NODE_ENV="development"

CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"
CLOUDINARY_FOLDER="your-cloudinary-folder-name"
